<div style="text-align:center" ng-show="moodlyUrl == ''">
    <h1 style="margin-bottom:90px">Willkommen bei <img src="/images/Logo.png" width="215" height="100">,<br/>
        dem Online-Happiness-Index f&uuml;r dein Team.
        </h1>
    <div style="margin-bottom:30px; font-size:20px">
        <strong>Starte jetzt eine Abstimmung!</strong>
    </div>
    <div>
        In welchem Zeitintervall sollen die Team-Mitglieder ihre Stimmung abgeben k&ouml;nnen?
    </div>
    <form class="navbar-form">
        <div class="form-group">
            Alle
            <input type="text" id="interval" ng-model="moodly.interval" class="form-control intervalInput">
            Tage.
        </div>
        <br/><br/>
        <button type="submit" class="btn btn-default" ng-click="createMoodly()">Abstimmung erstellen</button>
    </form>
</div>

<div style="text-align:center" ng-hide="moodlyUrl == ''">
    <h2 style="margin-bottom:60px">Du hast deine  <img src="/images/Logo.png" width="107" height="50">-Umfrage erstellt!<br/>
        Schicke jetzt den folgenden Link an alle Personen, die daran teilnehmen sollen.
    </h2>
    <div class="alert alert-success" style="margin-bottom:60px">
        <a href="{{moodlyUrl}}">{{baseUrl}}{{moodlyUrl}}</a>
    </div>
    <div style="margin-bottom:20px">
        <button type="submit" class="btn btn-default" style="margin-right:90px" ng-click="">zur Abstimmung</button>
        <button type="submit" class="btn btn-default" ng-click="">zur Auswertung</button>
    </div>
    <button type="submit" class="btn btn-default" ng-click="moodlyUrl = ''">Weitere Umfrage erstellen</button>
</div>