<div class="stats">
    <h2>Auswertung</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Iteration-Nr.</th>
                <th>Durchschnitt</th>
                <th>Anzahl der abgegebenen Stimmungen</th>
            </tr>
        </thead>
        <tr ng-repeat="stat in stats">
            <td>{{stat.iteration + 1}}</td>
            <td>{{stat.average}}&nbsp;&nbsp;
                <span ng-show="stat.average">
                    <img ng-show="stat.average >= 0 && stat.average < 1.5" src="/images/1-frustrated.png">
                    <img ng-show="stat.average >= 1.5 && stat.average < 2.5" src="/images/2-sad.png">
                    <img ng-show="stat.average >= 2.5 && stat.average < 3.5" src="/images/3-neutral.png">
                    <img ng-show="stat.average >= 3.5 && stat.average < 4.5" src="/images/4-fine.png">
                    <img ng-show="stat.average >= 5" src="/images/5-happy.png">
                </span>
            </td>
            <td>{{stat.personsCount}}</td>
        </tr>
    </table>
</div>

<p style="margin-top: 50px; text-align: left; width: 50%; float: left">
    <a href="#">Neue Umfrage</a><br>
</p>
