<div class="voted">
    <div id="yourvote" ng-show="!alreadyVoted">
        <h2>Danke für die Abgabe deiner Stimme!</h2>
        <p>
            Deine Stimmung:
        </p>
        <p>
            <img ng-show="ballot == 1" src="/images/1-frustrated.png">
            <img ng-show="ballot == 2" src="/images/2-sad.png">
            <img ng-show="ballot == 3" src="/images/3-neutral.png">
            <img ng-show="ballot == 4" src="/images/4-fine.png">
            <img ng-show="ballot == 5" src="/images/5-happy.png">
        </p>
        <p>
            = {{ballot}}
        </p>
    </div>
    <div id="alreadyVoted" ng-show="alreadyVoted">
        <h2>Du hast bereits für diese Iteration Deine Stimmung eingegeben</h2>
    </div>
    <p>
        <br/>
        In dieser Iteration haben bisher insgesamt {{personCount}} Personen ihre Stimmung abgegeben.
    </p>
    <p>
        Der Stimmungsdurchschnitt ist:
    </p>
    <p>
        <img ng-show="avg >= 0 && avg < 1.5" src="/images/1-frustrated.png">
        <img ng-show="avg >= 1.5 && avg < 2.5" src="/images/2-sad.png">
        <img ng-show="avg >= 2.5 && avg < 3.5" src="/images/3-neutral.png">
        <img ng-show="avg >= 3.5 && avg < 4.5" src="/images/4-fine.png">
        <img ng-show="avg >= 5" src="/images/5-happy.png">
    </p>
    <p>
        = {{avg}}


    </p>

    <p style="margin-top: 50px; text-align: left; width: 50%; float: left">
        <a href="#">Neue Umfrage</a><br>
    </p>
    <p style="margin-top: 50px; text-align: right; width: 50%; float: left">
        <a href="#/stats/{{moodlyId}}">Stimmungsverlauf</a>
    </p>
</div>
