<div class="voted">
    <h2>Danke für die Abgabe deiner Stimme!</h2>
    <p>
        Deine Stimmung: <br>
        <img ng-show="ballot == 1" src="/images/1-frustrated.png">
        <img ng-show="ballot == 2" src="/images/2-sad.png">
        <img ng-show="ballot == 3" src="/images/3-neutral.png">
        <img ng-show="ballot == 4" src="/images/4-fine.png">
        <img ng-show="ballot == 5" src="/images/5-happy.png">
        = {{ballot}}
    </p>
    <p>
        In dieser Iteration haben insgesamt TODO Personen bisher ihre Stimmung abgegeben.
    </p>
    <p>
        Der Stimmungsdurchschnitt ist:<br>
        <img ng-show="avg >= 0 && avg < 1.5" src="/images/1-frustrated.png">
        <img ng-show="avg >= 1.5 && avg < 2.5" src="/images/2-sad.png">
        <img ng-show="avg >= 2.5 && avg < 3.5" src="/images/3-neutral.png">
        <img ng-show="avg >= 3.5 && avg < 4.5" src="/images/4-fine.png">
        <img ng-show="avg >= 5" src="/images/5-happy.png">
        = {{avg}}
    </p>
</div>
