@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))">
        @Html(org.webjars.play.RequireJS.setup("javascripts/app"))
    </head>
    <body>
        <div id="wrap">
            <div class="container">
                @content
            </div>
        </div>
        <div style="text-align:center; margin-top:60px">
            <a href="http://www.leanovate.de/about/impressum/" target="_blank">Impressum</a>
        </div>
    </body>
</html>
